.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.card:hover {
  border-color: #007bff;
}

.card-img-top {
  height: 60px;
  width: 60px;
  object-fit: cover;
  margin-right: 10px;
}

.card-body {
  flex: 1;
}

.card-title {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.card-text {
  font-size: 1rem;
  color: #6c757d;
  margin-bottom: 5px;
}

.card-text small {
  margin-right: 10px;
}

.card-text a {
  color: #230245;
}

.card-text a:hover {
  color: #1d0131;
  text-decoration: underline;
}

.text-muted {
  color: #6c757d;
}

.text-capitalize {
  text-transform: capitalize;
}
